/* Footer */
#footer {
    display: grid;
    place-items: center;
    font-family: "Montserrat";
    background-color: #414141;
    color: #ededed;
    padding: 50px 0;
  }
  .buttons {
    padding: 20px 0;
    background-color: #414141;
  
  }
  .button {
    margin: 0 5px;
  }
  