/* Footer */
#footer {
    display: grid;
    place-items: center;
    font-family: "Montserrat";
    font-weight: bold;
    background-color: #cbd0d1;
    color: black;
    padding: 10px 0;
   
  }
#copy{
  font-weight: normal;
}
  .buttons {
    padding: 20px 0;
    background-color: inherit;
  }
  .button {
    margin: 0 5px;
  }
  